/* global, remove all the margins and paddings that Chrome automatically adds */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Something doesn't include in the body, such as button, select, input, etc. */
body {
	background-color: #292524;
	color: #fafaf9;
	font-family: "Sono", sans-serif;
	padding: 32px 48px 0;
}

#root {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	margin-bottom: 40px;
	display: flex;
	/* align vertically */
	align-items: center;
	/* align horizontally, and space-between will create even space between each element */
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: 16px;
}

.logo img {
	height: 68px;
	width: 68px;
}

h1 {
	font-size: 42px;
	text-transform: uppercase;
	font-family: "Coiny", sans-serif;
	color: #fafaf9;
	/* the Coiny font will create some weird space at the bottom, so manually create some soace on the top to make it look like in the center vertically */
	padding-top: 7px;
}

.fact-form {
	background-color: #57534e;
	margin-bottom: 40px;
	padding: 16px 32px;
	border-radius: 12px;

	display: flex;
	align-items: center;
	gap: 16px;
}

.hidden {
	display: none;
}

.message {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 600;
	margin-top: 40px;
}

.main {
	display: grid;
	/* this will make the first column keep the size when you change the window size, but the second column will change the size automatically with the left */
	grid-template-columns: 250px 1fr;
	gap: 50px;

	/* 100vh means 100% of viewport height, 
	- 32px: body padding-top
	- 74px: header height
	- 40px: header margin-bottom */
	height: calc(100vh - 32px - 74px - 40px);
}

.category {
	margin-bottom: 16px;
}

section {
	/* only can scroll on the facts list */
	overflow: scroll;
	padding-bottom: 40px;
}

.fact {
	font-size: 20px;
	line-height: 1.4;
	color: #fafaf9;
	background-color: #57534e;
	margin-bottom: 16px;
	/* padding: vertical horizontal */
	padding: 16px 24px;
	letter-spacing: -1px;
	border-radius: 12px;

	display: flex;
	align-items: center;
	gap: 20px;
}

.disputed {
	color: #ef4444;
	font-weight: 600;
	margin-right: 10px;
	text-transform: uppercase;
}

.tag {
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Coiny", sans-serif;
	color: #fafaf9;
	/* the Coiny font will create some weird space at the bottom, so manually create some soace on the top to make it look like in the center vertically */
	padding-top: 3px;
	/* which means padding-left and padding-right */
	padding-inline: 10px;
	border-radius: 100px;
}

.vote-buttons {
	/* automatically calculate the margin-left to make it align to the right */
	margin-left: auto;
	/* .vote-buttons is a flex-item of .fact, make this item not shrink */
	flex-shrink: 0;

	/* make .vote-buttons a flex box */
	display: flex;
	gap: 8px;
}

.vote-buttons button {
	border: none;
	background-color: #a8a29e;
	font-size: 18px;
	padding: 6px 12px;
	border-radius: 100px;
	color: inherit;
	font-family: inherit;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s;
}

.vote-buttons button:hover {
	background-color: #292524;
}

.vote-buttons button:disabled {
	background-color: #d6d3d1;
}

ul {
	list-style: none;
}

.source:link,
.source:visited {
	color: #a8a29e;
	text-decoration: none;
	margin-left: 12px;
	/* the animation between normal and hover state */
	transition: 0.3s;
}

.source:hover,
.source:active {
	color: blue;
}

.btn {
	border: none;
	font-family: "Coiny", sans-serif;
	line-height: 1;
	text-transform: uppercase;
	font-size: 17px;
	/* Three parameters: top, left and right, bottom */
	padding: 16px 0 13px;
	background-image: linear-gradient(
		135deg,
		#3b82f6,
		#eab308,
		#16a34a,
		#ef4444
	);
	/* means inherit the text color from .body */
	color: inherit;
	border-radius: 100px;
	cursor: pointer;
	/* for the animation time */
	transition: 0.3s;
}

.btn:hover {
	transform: scale(110%) rotate(-2deg);
}

/* make sure this write after .btn */
.btn-large {
	font-size: 20px;
	padding: 20px 32px 17px;
}

.btn-all-categories {
	margin-bottom: 16px;
	width: 100%;
}

.btn-category {
	width: 100%;
	background-image: none;
}

.fact-form input,
.fact-form select {
	border: none;
	width: 220px;
	background-color: #a8a29e;
	border-radius: 100px;
	padding: 16px;
	font-size: 18px;
	color: inherit;
	font-family: inherit;
}

/* :: means pseudo element */
.fact-form input::placeholder {
	color: #d6d3d1;
}

.fact-form input:first-child {
	flex-grow: 1;
}

.fact-form span {
	font-weight: 600;
	font-size: 18px;
	margin-right: 18px;
}

/* when width becomes lower than 900px, .main part becomes one column */
@media (max-width: 900px) {
	.main {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 1200px) {
	.fact {
		flex-direction: column;
		gap: 12px;
		align-items: flex-end;
	}
}

@media (max-width: 1100px) {
	.fact-form {
		flex-direction: column;
		align-items: stretch;
	}

	.fact-form input,
	.fact-form select {
		width: auto;
	}
}
